* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 15rem 1fr;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f8f8f8;
}
.folderBar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}
.addNew {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 10.9rem;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  border: 0.1rem solid #aeaed2;
  border-radius: 1.5rem;
  padding: 0.5rem;
  gap: 1rem;
}
.addNew .plus {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 2rem;
  color: #aeaed2;
}
.addNew .add {
  text-align: center;
  text-decoration: none;
  color: #aeaed2;
  margin-bottom: 2rem;
}
.add:hover {
  text-decoration: underline;
}
.folderCards {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 11rem;
  padding: 1rem;
  margin-left: -4.9rem;
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  box-shadow: #e8e6ee 0px 5px 15px;
}
.folderCards .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}
.progress-bar .progress {
  --h: 0.5rem;
  width: 100%;
  height: var(--h);
  background-color: #ededf5;
  border-radius: var(--h);
}
.progress-bar .bar {
  width: 40%;
  height: 100%;
  border-radius: inherit;
}
.progress-bar .values {
  width: 100%;
  height: 100%;
  background-color: #ff6c40;
  border-radius: inherit;
  animation-name: loading;
  animation-duration: 3s;
}
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.upgrade {
  display: flex;
  border-radius: 1rem;
  margin-left: -8.5rem;
}
.upgrade img {
  width: 100%;
  height: 175px;
}
.bigCards {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
}
.storage {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 5rem 1rem 2.5rem;
  border-radius: 1.5rem;
  box-shadow: #e8e6ee 0px 5px 15px;
  gap: 1rem;
}
.storage .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title p {
  font-weight: bold;
}
.title a {
  font-weight: bold;
  text-decoration: none;
  color: #d6d8d9;
}
.title a:hover {
  text-decoration: underline;
  color: #aeaed2;
}
.storage .data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.data .dataSize {
  margin-top: -5.5rem;
}
.dataSize .para {
  color: #ccc;
}
hr {
  width: 90%;
  margin-left: 3.5rem;
}
.storage .month {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  color: #ccc;
  gap: 1.7rem;
}
.recentFiles {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  box-shadow: #e8e6ee 0px 5px 15px;
  gap: 0.9rem;
}
.recentTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.recentTitle a {
  font-weight: bold;
  text-decoration: none;
  color: #ccc;
}
.recentTitle a:hover {
  text-decoration: underline;
  color: #aeaed2;
}
.recentFiles .files {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
.files .file {
  display: flex;
  align-items: center;
  gap: 1rem;
}
